<div class="row">
  <div class="col-xs-4 col-xs-push-4 form">
    <h1 id="log_in">Log In</h1>

    <%= bootstrap_form_tag(url: login_path) do %>
      <%= label_tag :username, "Username", class: "log-in-tag" %><br>
      <%= text_field_tag :username, "", class: "log-in" %>
      <br>
      <%= label_tag :password, "Password", class: "log-in-tag" %><br>
      <%= password_field_tag :password, "", class: "log-in" %>
      <br>
      <div class="row">
        <div class="col-xs-12 form-btn">
          <%= submit_tag 'Log In' %>
        </div>
      </div>
    <% end %>

    <p>
      <%= link_to 'Back', posts_path %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
</div>