<div class="row">
  <div class="col-xs-4 col-xs-push-4 form">
    <h1 id="log_in">Log In</h1>

    <%= form_tag url: login_path do %>
      <%= label_tag :username %><br>
      <%= text_field_tag :username %>
      <br>
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
      <br>
      <%= submit_tag 'Log in' %>
    <% end %>

    <p>
      <%= link_to 'Back', posts_path %>
      </p>
  </div>
</div>