<div class="row">
  <div class="col-xs-12">
    <% if logged_in? %>
      <%= bootstrap_form_for([@comment.post, @comment]) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :body %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <% else %>
      <p>You must be logged in to write a comment.</p>
    <% end %>
  </div>
</div>
