<div class="row">
  <div class="col-xs-12">

    <%= bootstrap_form_for(@user) do |f| %>
      

      <div class="field">
        <%= f.text_field :username, placeholder: "Numbers & lowercase letters" %>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div class="field">
        <%= f.file_field :profile_picture %>
      </div>
      <div class="field">
        <%= f.text_field :name, placeholder: "John Doe" %>
      </div>
      <div class="field">
        <%= f.text_field :bio, placeholder: "Tell the world" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
</div>