<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @user.name %>
  </strong>
</p>

<p>
  <%= @user.bio %><br>
  <strong>Followers:</strong>
  <%= @user.followers.count %><br>
  <strong>Following:</strong>
  <%= @user.following.count %>
</p>

<% if logged_in?
  <% if @user == current_user %>
    <%= link_to 'New Post', 'posts#create' %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% elsif @user != current_user %>
    <% if current_user.following.contains(@user.id) %>
    #
    #
    #
    #
    #
    #
      <%= link_to 'Unfollow', @user %>
    <% else %>
      <%= link_to 'Follow', @user %>
    <% end %>
<% end %>


<p>
  <strong>Posts:</strong>
</p>

<table>
  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= post.caption %></td>
        <% if logged_in? && @user == current_user %>
          <td><%= link_to 'Edit', "/posts/#{post.id}" %></td>
          <td><%= link_to 'Destroy', "/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
