<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @user.name %>
  </strong>
  <%= @user.bio %><br>
  <strong>Posts:</strong>
  <%= @user.posts.count %><br>
  <strong>Followers:</strong>
  <%= @user.followers.count %><br>
  <strong>Following:</strong>
  <%= @user.following.count %>
</p>

<% if logged_in? %>
  <% if @user == current_user %>
    <%= link_to 'New Post', '/posts/new' %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% elsif current_user_is_following(current_user.id, @user.id) %>
    <%= link_to 'Following', "follows#unfollow_user(#{@user.username})" %>
  <% else %>
    <%= link_to 'Follow', "follows#follow_user(#{@user.username})" %>
  <% end %>
<% end %>


<p>
  <strong>Posts:</strong>
</p>

<table>
  <tbody>
    <% sorted_posts = @user.posts.reverse %>
    <% sorted_posts.each do |post| %>
      <tr>
        <td><%= post.caption %></td>
        <% if logged_in? && @user == current_user %>
          <td><%= link_to 'Edit', "/posts/#{post.id}" %></td>
          <td><%= link_to 'Destroy', "/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
