<p id="notice"><%= notice %></p>

<% if !logged_in? %>
  <div class="row">
    <div class="col-xs-8 col-xs-push-2 welcome">
      <p>Welcome to Camstagram!</p>
    </div>
  </div>
<% end %>

<% if logged_in? && @posts.count.zero? %>
  <div class="row">
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>

    <div class="col-xs-6 col-xs-push-3 welcome">
      <h1>
        Hi <a href= <%="/users/#{current_user.id}"%>> @<%=current_user.username%></a>! Follow some <a href="/users">users</a>
        or make some <a href="/posts/new">posts of your own</a> to populate your feed.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
    <div class="col-xs-12 space">
    </div>
  </div>

<% else %>

  <% @posts.each do |post| %>

  <div class="container-fluid post-spacing">
    <div class="row">
      <div class="col-xs-6 col-xs-push-3 post">
        <div class="post">
          <div class="row post-head">
            <div class="col-xs-1 thumb-img">
              <%= image_tag post.user.profile_picture.url(:thumb), class: 'img-responsive img-circle' %>
            </div>
            <div class="col-xs-10 username">
              <p>
                <%= link_to "#{post.user.username}", post.user %>
              </p>
            </div>
          </div>
          <a href=<%= "/posts/#{post.id}" %>>
            <div class="row post-img">
              <%= image_tag post.image.url(:large), class: 'img-responsive post-img' %>
            </div>
          </a>
          <div class="row post-tasks">
            <strong><%= post.likes.count %></strong>
            <% if post.likes.count == 1 %>
              <strong>like</strong>
            <% else %>
              <strong>likes</strong>
            <% end %>
            <% if logged_in? %>
              <% if current_user.likes.find_by(post_id: post.id).nil? %>
                | <%= link_to 'Like Post', "/posts/#{post.id}/like_post", method: :post %>
              <% else %>
                | <%= link_to 'Unlike Post', "/posts/#{post.id}/unlike_post", method: :post %> 
              <% end %>
            <% end %>
            <% if logged_in? && post.user == current_user %>
              | <%= link_to 'Edit', edit_post_path(post) %>
              | <%= link_to 'Delete', "/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
          <div class="post-discussion">
            <div class="row">
              <p>
                <% if !post.caption.empty? %>
                  <strong><%= link_to "#{post.user.username}", post.user%></strong>
                  <%= post.caption %>
                <% end %>
              </p>
            </div>
            <% if post.comments.count > 3 then %>
              <div class="row">
                <p>...</p>
              </div>
            <% end %>
            <% post.comments.last(3).each do |comment| %>
              <div class="row">
                <p>
                  <strong><%= link_to "#{comment.user.username}", comment.user%></strong>
                  &nbsp;<%= comment.body %>
                </p>
              </div>
            <% end %>
            <% if logged_in? %>
              <div class = "row">
                <%= link_to 'Add a comment', "/posts/#{post.id}/comments/new" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>

<div class="row">
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
</div>
<% end %>
