<!DOCTYPE html>
<html>
<head>
    <title>Camstagram</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

  <body>

    <header id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <a href = "/"><h1 class="text-center"><strong>Camstagram</strong></h1></a>
          </div>
          <div class="col-xs-8">
            <nav class="nav-banner">
              <div class="col-xs-6">
                <a class="nav-btn" href="/users"><h3 class="text-center">Users</h3></a>
              </div>
              <div class="col-xs-6">
                <% if not logged_in? %>
                  <div class ="col-xs-4 col-xs-push-4">
                    <a href="/login"><h3>Log in</h3></a>
                  </div>
                  <div class ="col-xs-4 col-xs-push-4">
                    <a href="/users/new"><h3>Sign up</h3></a>
                  </div>
                <% else %>
                  <div class ="col-xs-4">
                    <h3 class="text-right">
                      <%= link_to 'New Post', new_post_url %>
                    </h3>
                  </div>
                  <div class ="col-xs-4">
                    <h3 class="text-right">
                      <%= link_to "@#{current_user.username}", current_user %>
                    </h3>
                  </div>
                  <div  class ="col-xs-4">
                    <h3 class="text-right">
                      <%= link_to 'Log out', logout_path, method: :delete %>
                    </h3>
                  </div>
                <% end %>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <p class="text-center">Created by Cameron Cabo</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
